.financial-analytics-form-container .buttons {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
}

.financial-analytics-form-container .form-section input {
    width: 100%;
    margin-bottom: 1rem;
}

.financial-analytics-form-container .form-section p {
    margin-bottom: .3rem;
}

.financial-analytics-form-container .form-section .upload-image {
    text-align: center;
}