.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  color: white;
  box-shadow: 0 6px 5px #2f004f75;
}
.nav-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85rem;
  margin: 0 auto;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
  letter-spacing: 1px;
}

.nav-logo a {
  padding: 1.5rem 0rem;
}
.nav-logo .logo-mobile {
  display: none;
}
.logo-mobile {
  fill: white;
  height: 20px;
  width: 20px;
}

.logo-large {
  fill: white;
  height: 20px;
  width: 20px;
}
.nav-logo h4 {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: capitalize;
}
.nav-logo h4 span {
  font-weight: 200;
}
.nav-logo a {
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 600;
  transition: 0.2s;
  margin-left: 1.5rem;
  color: white;
  text-decoration: none;
}
.nav-logo a:hover {
  color: rgb(167, 167, 167);
}
.nav-btn button:first-child {
  background: none;
  border: none;
  font-weight: 400;
  color: white;
  transition: 0.3s;
  padding: 0.2rem 1.5rem;
  cursor: pointer;
}

.nav-btn button {
  font-weight: 700;
  font-size: 0.8rem;
  box-shadow: none;
}

.nav-btn button:first-child:hover {
  color: #d69eff;
}

.nav-btn button:last-child:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 5px #39045f;
}

.nav-toggle {
  float: right;
  position: absolute;
  top: 1rem;
  right: 5%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  position: fixed;
  z-index: 1;
  display: none;
  transform: all 0.3s ease-in-out;
}
.nav-toggle .hamburger span {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
  border-bottom: 2px solid white;
}
.nav-toggle .hamburger .line1 {
  width: 24px;
}
.nav-toggle .hamburger .line2 {
  width: 12px;
}
.nav-logo a {
  display: block;
}
.nav-active .hamburger {
  transform: all 0.3s ease-in-out;
}
.nav-active .hamburger .line1 {
  transform: translateY(3px) rotate(45deg);
  width: 15px;
}
.nav-active .hamburger .line2 {
  transform: translateY(-3px) rotate(-45deg);
  width: 15px;
}
.nav-content {
  /* display: none; */
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 992px) {
  .main-nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
  }
  .cover {
    height: 100vh;
    overflow-y: hidden;
  }
  .nav-logo .logo-mobile {
    display: block;
    margin-left: -1rem;
  }
  .nav-toggle {
    display: flex;
  }
  .nav-logo h4,
  .nav-logo a {
    display: none;
  }
  .nav-btn {
    display: none;
  }
  .nav-btn button:first-child {
    color: var(--color-secondary);
  }
  .nav-active .nav-logo a,
  .nav-active .nav-btn {
    display: block;
    margin: 0;
  }
  .nav-active {
    flex-direction: column;
  }
  .nav-active .nav-logo {
    flex-direction: column;
  }
  .nav-active .nav-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .nav-active .nav-btn button {
    margin-bottom: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
