.latest-addition-section {
  min-height: 100vh;
  padding: 0rem 3rem;
  color: #424144;
}
.latest-addition-section .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 0rem;
}
.latest-addition-section .heading p {
  width: 50%;
  padding-right: 5rem;
  line-height: 1.5rem;
}

.latest-addition-section h2 {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 2rem;
}
.addition-cards-bunch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -1rem;
}
.addition-cards {
  cursor: pointer;
}
.addition-cards .category {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.addition-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 0rem;
  width: 18rem;
  background-color: aquamarine;
  overflow: hidden;
  height: 19rem;
  border-radius: 1rem;
  box-shadow: 0 5.3px 8px rgb(0 0 0 / 10%), 0 42px 64px rgb(0 0 0 / 10%);
}
.card-tag {
  background-color: #53cb83;
  color: white;
  padding: 0.2rem 0.5rem;
  width: max-content;
  border-radius: 5px;
  font-size: 0.8rem;
  text-transform: capitalize;
  font-weight: 600;
}
.card-data {
  padding-top: 1rem;
  border-top: 1px solid rgb(212, 206, 206);
  border-top-style: dashed;
  margin-left: 0.5rem;
}

.card-data .price {
  font-size: 1.5rem;
  color: white;
  font-weight: 900;
  margin-bottom: 0.3rem;
}
.card-data .description {
  font-size: 0.8rem;
  color: rgb(216, 221, 224);
}

.card-data .description span {
  font-weight: 900;
}
.addition-card img {
  height: 100%;
  width: 100%;
}

.current-position {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  margin-bottom: 3.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
}

.current-position h3 {
  margin: 0.5rem 0rem;
  font-weight: 900;
  font-size: 2.5rem;
  color: black;
  margin-left: 35px;
}
.current-position h3 span {
  font-size: 1.8rem;
}
.current-position .title {
  display: flex;
  color: gray;
}
.current-position .title .line {
  width: 30px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  margin-right: 0.5rem;
}
.asking-price,
.active-listing {
  margin-right: 15rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .latest-addition-section {
    padding: 0 1.5rem;
  }
  .latest-addition-section .heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .latest-addition-section .heading h2 {
    font-size: 1.3rem;
    margin: 3rem 0rem;
  }
  .latest-addition-section .heading p {
    width: 100%;
    font-size: 0.9rem;
    padding: 0;
    margin-bottom: 3rem;
  }
  .addition-cards-bunch {
    justify-content: flex-start;
  }

  .addition-card {
    width: 19.7rem;
    height: 12rem;
    margin-bottom: 2rem;
  }
  .addition-cards .category {
    font-size: 0.75rem;
  }
  .card-data {
    padding-top: 0.5rem;
  }
  .card-data .price {
    font-size: 1.3rem;
  }
  .card-data .description {
    font-size: 0.75rem;
  }
  .card-tag {
    font-size: 0.7rem;
  }
  .current-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3rem;
  }
  .current-position h3 {
    margin-left: 0;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .current-position h3 span {
    font-size: 1.2rem;
  }
  .current-position .title {
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.5px;
  }
  .current-position .title .line {
    display: none;
  }
  .asking-price,
  .active-listing {
    margin: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
