.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11vh;
  padding: 0rem 3rem;
  color: white;
  border-bottom: 2px solid #530d85;
  box-shadow: 0 6px 5px #410a68b4;
  background-color: #530d8544;
}
.nav-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 22%;
  letter-spacing: 1px;
}
.nav-logo .logo-mobile {
  display: none;
}
.logo-mobile {
  fill: white;
  height: 20px;
  width: 20px;
}
.nav-logo h4 {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3rem;
}

.nav-logo h4 span {
  font-weight: 200;
}

.nav-logo a {
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-top: 5px;
  font-weight: 600;
  transition: 0.2s;
}
.nav-logo a:hover {
  color: rgb(167, 167, 167);
}
.nav-btn button:first-child {
  background: none;
  border: none;
  font-weight: 400;
  color: white;
  transition: 0.3s;
}

.nav-btn button {
  cursor: pointer;
  border-radius: 7px;
  padding: 0.2rem 1.5rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #530d85;
  background-color: #fec45c;
  border-top: 2px solid #ffdb89;
  border-bottom: 3px solid #c79333;
  font-size: 0.8rem;
  transition: 0.3s;
}

.nav-btn button:first-child:hover {
  color: #d69eff;
}

.nav-btn button:last-child:hover {
  transform: translateY(-3px);
  box-shadow: 0px 5px 5px #39045f;
}

.nav-toggle {
  float: right;
  position: absolute;
  top: 1rem;
  left: 85%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4a1172;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  position: fixed;
  z-index: 1;
}
.nav-toggle .hamburger {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #4a1172;
  cursor: pointer;
}
.nav-toggle .hamburger div {
  cursor: pointer;
  color: #c79333;
  margin-bottom: 2px;
  background-color: #4a1172;
  display: inline-block;
  border-bottom: 2px solid white;
  width: 20px;
}
.nav-toggle .hamburger div:last-child {
  width: 10px;
  margin-top: 3px;
}

.active button div:first-child {
  width: 25px;
  transform: rotate(45deg);
  border-bottom: 3px solid white;
}
.active button div:last-child {
  transform: rotate(-45deg);
  width: 30px;
  border-bottom: 3px solid white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-logo .logo-mobile {
    display: block;
    margin-left: -1rem;
  }
  .nav-logo h4,
  .nav-logo a {
    display: none;
  }
  .nav-btn {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
