.testimonials-section {
  display: flex;
}
.testimonials-section h3 {
  width: 80%;
  /* background-color: cadetblue; */
  padding: 5rem 3rem;
  line-height: 1.5rem;
  color: var(--color-primary);
  font-weight: 900;
}
.testimonials-slide {
  display: flex;
  padding: 5rem 3rem;
  margin-left: 7rem;
  width: 70%;
}
.testimonials-slide .image img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.testimonials-slide-data {
  color: gray;
  margin-left: 2rem;
}
.testimonials-slide-data .description {
  font-size: calc(13.42857px + 0.17857vw);
  line-height: calc(18.85714px + 0.35714vw);
}
.name-and-category {
  margin-top: 1.5rem;
}
.name-and-category h4 {
  color: var(--color-primary);
  font-weight: 900;
  font-size: 0.9rem;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}
.name-and-category h5 {
  color: gray;
}
